body {
	background-color: white;
	font-family: 'Quicksand', sans-serif;
	color: grey;
	width: 85%;
	margin: 0 auto;}

h1 {
  text-align: center;
  font-size: 36px;
}

p {
  font-size: 20px;
}

.portrait {
	width: 30%;
	float:right;
	padding-left: 10px;
}
.strike {
	text-decoration: line-through
}