body {
	color: #cccccc;
	font-family: 'Quicksand', sans-serif;
	width: 1024px;
margin: 0 auto;}
.portrait {
	width: 30%;
	float:right;
	padding-left: 10px;
}
.strike {
	text-decoration: line-through
}
